@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Space+Grotesk&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--animation: rotateZ(0deg);
}
html {
	font-size: 16px;
}
@font-face {
	font-family: 'camar';
	src: url('./fonts/camar.otf');
}
a {
	text-decoration: none;
	color: var(--textColor);
}
body {
	font-family: helvetica;
	overflow-x: hidden;
	font-family: 'Space Grotesk';
	color: var(--textColor);
}
.dark {
	--backgroundColor: rgb(25, 25, 25);
	--textColor: #fff;
	--buttonBackgroundColor: transparent;
	--boxColor: #000;
	--boxTextColor: #000;
	--nav: var(--backgroundColor);
	--navlinkColor: var(--textColor);
	--borderColor: rgba(255, 255, 255, 1);
	--boxShadow: rgba(0, 0, 0, 1);
	--projectsBoxShadow: rgba(0, 0, 0, 1);
	--aboutBoxShadow: #000;
	background-color: var(--backgroundColor);
}
.light {
	--backgroundColor: rgb(236, 242, 247);
	--textColor: #000;
	--buttonBackgroundColor: #e9eaff;
	--boxColor: rgb(203, 210, 222);
	--boxTextColor: #fff;
	--nav: #fff;
	--navlinkColor: rgb(131, 137, 141);
	--borderColor: rgba(0, 0, 0, 0.5);
	--boxShadow: rgb(128, 164, 192);
	--projectsBoxShadow: rgb(179, 179, 179);
	--aboutBoxShadow: rgb(207 207 207);
}
.App {
	max-width: 2500px;
	margin: auto;
	height: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	position: relative;
}
.colorScheme {
	position: fixed;
	top: 1.875rem;
	right: 1.25rem;
	font-size: 2rem;
	cursor: pointer;
	color: var(--textColor);
	border-radius: 10px;
	z-index: 9999;
}
.colorSchemeMobileHide {
	display: none;
	z-index: 9999;
}
nav .colorSchemeMobile {
	display: flex;
	background-color: var(--buttonBackgroundColor);
	border-radius: 50%;
	margin-left: 20px;
	margin-right: auto;
}
nav .colorSchemeMobile i {
	font-size: 2rem;
	padding: 0;
	background-color: unset;
	transform: scale(1.45);
}
.navbodymobile {
	overflow-y: hidden;
}
.screen {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	font-size: 5vw;
	width: 50%;
	margin: auto;
	text-align: center;
}
.blur {
	display: none;
}
.bluractive {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 99;
	display: unset;
}
.App-bg {
	background-color: var(--backgroundColor);
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: -999;
}
.first-page,
.error {
	text-align: center;
	max-height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	position: absolute;
	top: 0;
	z-index: 9999;
}
.first-page img {
	width: 15vw;
	height: 15vw;
	max-width: 500px;
	max-height: 500px;
	border-radius: 50%;
	background-color: #000;
}
.first-page h1 {
	text-align: center;
	font-size: 3.5vw;
	width: 50%;
}
.first-page h1 .welcome {
	display: block;
	padding: 20px 0;
	font-family: camar;
	letter-spacing: 5px;
}
.first-page button {
	display: block;
	background-color: transparent;
	border-radius: unset;
	display: flex;
	justify-content: center;
}
.first-page i {
	margin-top: 20px;
	cursor: pointer;
	animation: first-page-animation 8s linear infinite;
}
.first-page-animation {
	transform: translateY(-100vh);
	transition: all 3s ease;
}
@keyframes first-page-animation {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(20px);
	}
	100% {
		transform: translateY(0px);
	}
}
main > img {
	height: 100vh;
	width: 550px;
	position: fixed;
	z-index: -999;
	top: 0;
	bottom: 0;
}
.bg-style-container {
	z-index: -9;
	position: absolute;
	top: 0;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: var(--backgroundColor);
	animation: page-appear 2s linear;
}
.bg-style-none {
	display: none;
}
.bg-style-container > div {
	position: absolute;
	border-radius: 50%;
	box-shadow: 2px 2px 5px var(--boxShadow);
}
@keyframes page-appear {
	from {
		transform: translateX(100vw);
	}
	to {
		transform: translateX(0);
	}
}
.bg-style-xsmall {
	width: 1.5vw;
	height: 1.5vw;
	background-color: var(--boxColor);
	left: 25%;
	margin-top: 60vh;
}
@keyframes bg-horizontal-animation {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(50vw);
	}
	50% {
		transform: translateX(0);
	}
	75% {
		transform: translateX(-10vw);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes bg-vertical-animation {
	0% {
		transform: translateY(0);
	}
	25% {
		transform: translateY(10vw);
	}
	50% {
		transform: translateY(0);
	}
	75% {
		transform: translateY(-10vw);
	}
	100% {
		transform: translateY(0);
	}
}
.bg-style-small {
	width: 5vw;
	height: 5vw;
	max-width: 200px;
	max-height: 200px;
	background-color: var(--boxColor);
	left: 10%;
	animation: bg-vertical-animation 60s linear 5s infinite reverse;
}

.bg-style-small-half {
	bottom: -4vw;
	left: 18vw;
	width: 8vw;
	height: 8vw;
	max-width: 200px;
	max-height: 200px;
	animation: bg-horizontal-animation 90s linear 5s infinite reverse;
}
.bg-style {
	width: 30vw;
	height: 30vw;
	background-color: var(--boxColor);
	z-index: -99;
	max-width: 1000px;
	max-height: 1000px;
}
.bg-style-container img {
	animation: animtopleft 1s linear;
	border-radius: 50%;
	width: 35%;
	transform: var(--animation);
	transition: transform 1s ease;
}
/* nav styles  */
nav {
	width: 100%;
	max-width: 2500px;
	padding: 1.5rem 2rem 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 999;
}
.navscroll {
	background-color: var(--nav);
}
.navheader {
	color: #fff;
}
.navheaderstroke {
	-webkit-text-stroke-color: #fff;
	-webkit-text-stroke-width: 0.1rem;
	color: transparent;
}
nav h1 {
	font-family: camar;
	letter-spacing: 3px;
	font-size: 3rem;
	cursor: pointer;
}
nav h1 .ib {
	color: transparent;
	-webkit-text-stroke-color: var(--textColor);
	-webkit-text-stroke-width: 0.1rem;
}
nav ul li {
	display: inline-block;
	margin-right: 25px;
	margin-left: 25px;
}
nav .navlinks li a {
	text-decoration: none;
	font-size: 1.2rem;
	color: var(--navlinkColor);
	text-transform: uppercase;
}
nav .navlinks li a:hover {
	color: rgb(44, 57, 164);
}
nav .navlinks li .active::before {
	display: flex;
	width: 10px;
	height: 10px;
	content: '';
	background-color: rgb(44, 57, 164);
	border-radius: 50%;
	margin: auto;
	margin-bottom: 10px;
}
nav .navlinks li .active {
	font-weight: 700;
	color: rgb(44, 57, 164);
}
nav .bars,
.xmark {
	background-color: rgb(44, 57, 164);
	width: 40px;
	height: 40px;
	padding: 10px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	cursor: pointer;
	position: relative;
	z-index: 999;
	visibility: hidden;
}
.xmark {
	display: none;
}
nav .bars:hover {
	background-color: rgb(36, 51, 187);
}
nav .navlinks .navfooter {
	display: none;
}
article {
	margin-top: 120px !important;
}
article > h1 {
	text-align: center;
	margin: 2% 0;
	font-size: 2rem;
}
.hello {
	display: flex;
	gap: 10%;
	background-color: var(--boxTextColor);
	width: 280px;
	height: 120px;
	border-radius: 15px;
	/* box-shadow: 1px 1px 50px grey; */
	justify-content: center;
	align-items: center;
	padding-right: 50px;
	margin-top: 15vh;
	margin-left: 22%;
	animation: anim-left 2s ease;
}
@keyframes anim-left {
	from {
		transform: translateX(-50vw);
	}
	to {
		transform: translateX(0);
	}
}
.hello i {
	font-size: 4.5rem;
}
.hello b {
	font-size: 30px;
	font-weight: 800;
}
.hello-sub {
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: var(--boxTextColor);
	width: 200px;
	height: 70px;
	border-radius: 15px;
	justify-content: center;
	padding: 20px;
	margin-top: 50px;
	margin-left: 25%;
	font-size: 0.8rem;
	font-weight: 700;
	text-transform: uppercase;
	animation: anim-left 2s ease;
}
.home-projects {
	right: 25%;
	top: 15%;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
	font-size: 1rem;
	font-weight: 800;
	animation: anim-right 1.5s ease;
	transition: all 0.5s ease;
}
@keyframes anim-right {
	from {
		transform: translateX(50vw);
	}
	to {
		transform: translateX(0);
	}
}
.home-projects-white {
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	display: flex;
	width: 8vw;
	height: 8vw;
	max-width: 300px;
	max-height: 300px;
	background-color: var(--boxTextColor);
	cursor: pointer;
}
.home-projects i {
	border-radius: 50%;
	background: rgb(208, 79, 134);
	width: 50%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 2.5rem;
	padding: 20px;
	transform: rotate3d(-1, -1, 0, 35deg);
	box-shadow: 1px 2px 15px var(--boxShadow);
	transition: transform 1s ease;
}
.home-projects-white:hover i {
	transform: rotateX(180deg);
	box-shadow: 3px -3px 15px grey;
}
.home-about {
	right: 10%;
	top: 35%;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
	font-size: 1rem;
	font-weight: 800;
	animation: anim-right 1s ease;
}
.home-about img:hover {
	transform: rotate3d(0, 1, 0, 180deg);
}
.home-about img {
	background: #000;
	border-radius: 50%;
	width: 12vw;
	height: 12vw;
	max-width: 250px;
	max-height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 2.5rem;
	padding: 20px;
	box-shadow: 1px 2px 15px var(--boxShadow);
	cursor: pointer;
	transition: transform 1s ease;
}
.home-contact {
	right: 27%;
	top: 60%;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
	font-size: 1rem;
	font-weight: 800;
	animation: anim-right 1.3s ease;
}
.home-contact-white {
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	display: flex;
	width: 5vw;
	height: 5vw;
	max-width: 150px;
	max-height: 150px;
	background-color: var(--boxTextColor);
}
.home-contact i {
	border-radius: 50%;
	background: rgb(44, 57, 164);
	width: 50%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 1.5rem;
	padding: 25px;
	/* transform: rotate3d(-1, -1, 0, 35deg); */
	box-shadow: 1px 2px 5px var(--boxTextColor);
	cursor: pointer;
}
.sidenav {
	position: fixed;
	right: 50px;
	top: 40vh;
}
.sidenav a {
	display: flex;
	background-color: rgb(198, 205, 203);
	width: 10px;
	height: 10px;
	margin-top: 20px;
	border-radius: 50%;
}
.sidenav .active {
	background-color: rgb(44, 57, 164);
}
.social-links {
	position: fixed;
	top: 75vh;
	left: 50px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.social-links i {
	padding: 10px;
	font-size: 1rem;
	border-radius: 50%;
	background-color: #fff;
	color: rgb(158, 158, 158);
	border: 0.5px solid;
}
.social-links a:hover i,
.social-links a:first-child i {
	background-color: rgb(44, 57, 164);
	color: #fff;
}
.copyright {
	position: fixed;
	right: 50px;
	top: 90vh;
	text-align: right;
	font-weight: 650;
	line-height: 30px;
	text-transform: uppercase;
}
.skills > div {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	padding-right: 5%;
	margin-top: 5%;
}
.skills-logo {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	width: 50%;
	gap: 50px 25px;
	padding: 2% 8%;
}
.skills-logo p {
	border-radius: 50%;
	background-color: rgb(253, 245, 241);
	color: #000;
	width: 10vw;
	height: 10vw;
	max-width: 130px;
	max-height: 130px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10%;
	font-weight: 600;
	padding: 30px;
	text-align: center;
}
.skills img {
	width: 80%;
	height: 80%;
}
.skills .css-logo {
	background-color: rgb(234, 245, 246);
}
.skills .js-logo {
	background-color: rgb(255, 248, 191);
}
.skills .react-logo {
	background-color: rgb(221, 248, 253);
}
.skills .jq-logo {
	background-color: rgb(245, 250, 233);
}
.skills .next-logo {
	background-color: rgb(222, 229, 238);
}
.skills .typescript-logo {
	background-color: rgba(180, 204, 235, 0.8);
}
.skills .node-logo {
	background-color: rgba(128, 189, 1, 0.5);
}
.skills .express-logo {
	background-color: rgb(180, 204, 235);
}
.skills .mongodb-logo {
	background-color: rgba(86, 173, 73, 0.5);
}
.skills .work-exp {
	width: 40%;
}
.skills .sql {
	width: 40%;
}
.skills .work-exp h1 {
	padding-bottom: 10px;
	font-size: 1.5rem;
}
.skills .work-exp > div {
	display: flex;
	gap: 30px;
	margin-bottom: 10px;
}
.skills .work-exp > div h1:hover {
	color: rgb(44, 57, 164);
	font-weight: 700;
}
.skills .work-exp > div p {
	margin-bottom: 10%;
	color: grey;
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: 700;
}
.skills .work-exp > div > div:first-child {
	color: rgb(44, 57, 164);
	font-weight: 700;
	padding: 4px;
}
.about-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 85vh;
}
.about-page h1 {
	margin-bottom: 0%;
}
.about-page .about-content {
	background-color: var(--boxTextColor);
	width: 80%;
	max-width: 1000px;
	margin: auto;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
	padding: 50px;
	line-height: 30px;
	text-align: justify;
	box-shadow: 30px 30px 20px var(--aboutBoxShadow);
}
.about-page .about-content img {
	width: 200px;
	background-color: #000;
	border-radius: 50%;
}
.about-page .about-content div {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.about-page .about-content div a {
	width: fit-content;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	background-color: rgba(44, 57, 164, 0.95);
}
.about-page .about-footer img {
	width: 100px;
	height: 100px;
	margin-right: 30px;
	border-radius: 50%;
	object-fit: cover;
}
.certificates-section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 1fr;
	grid-gap: 30px;
	margin-top: 2%;
	text-align: center;
	padding: 0 5% 100px;
}
.certificates-section img {
	width: 100%;
	border-radius: 10px;
}
.certificates-section .grid {
	background-color: rgb(234, 245, 246);
	padding: 30px;
	border-radius: 20px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
.certificates-section > div:last-child {
	font-size: 30px;
	text-align: center;
	font-family: cursive;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000;
}
.grid:hover {
	background-color: rgb(44, 57, 164);
	transform: scale(1.05);
	color: #fff;
	text-align: justify;
}
.certificates-section .grid:hover i {
	color: #fff;
}
.contact {
	width: 50%;
	margin: auto;
}
.contact h1 {
	margin-bottom: 15%;
}
.contact .button {
	display: flex;
	gap: 10%;
	justify-content: center;
}
.contact .button a {
	background: rgb(253, 244, 245);
	border: none;
	padding: 30px;
	border-radius: 10px;
	font-weight: 700;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	cursor: pointer;
	color: #000;
	animation: anim-left 1s ease;
	text-decoration: none;
	white-space: nowrap;
}
.contact .button a img {
	width: 15%;
	margin-right: 20px;
}
.contact .button a:nth-child(2) {
	background-color: rgb(239, 248, 252);
	animation: anim-right 1s ease;
}
.contact form {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 40px 80px 80px;
	margin: auto;
	margin-top: 6rem;
	gap: 30px;
}
.contact form input,
.contact select,
textarea {
	border: none;
	border-bottom: 1px solid var(--borderColor);
	text-align: left;
	outline: none;
	background: transparent;
	resize: none;
	font-family: inherit;
	width: 100%;
	padding-bottom: 15px;
}
.contact input::placeholder,
.contact select,
.contact textarea::placeholder {
	font-size: 1rem;
	color: var(--textColor);
	background-color: var(--nav);
}
.contact select option {
	width: 50px;
}
.contact form .textarea {
	grid-column: 1 / -1;
}
.contact input[type='submit'] {
	width: max-content;
	margin: auto;
	text-align: center;
	color: rgb(36, 51, 187);
	font-weight: 750;
	grid-column: 1 / -1;
	cursor: pointer;
	font-size: 1.2rem;
	padding-bottom: 3px;
	border-bottom: 1px solid rgb(36, 51, 187);
}
.contact .inputerrorcontainer {
	flex-direction: column;
}
.contact .formvalid {
	color: red;
	text-align: center;
	width: 100%;
	grid-column: 1 / -1;
}
.contact .messagevalid {
	transform: translateY(-10 px);
}
.contact .inputerrorcontainer .fa-solid,
.contact .inputerrorcontainer span {
	margin-top: 8px;
}
.contact .contact-social-links {
	display: none;
}
.contact .qrcode {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.contact .qrcode img {
	width: 200px;
	height: 100%;
	display: inline;
	justify-content: center;
}
.submit {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
	text-align: center;
	font-size: 30px;
	height: 100%;
	min-height: 100vh;
	width: 50%;
	margin: auto;
}
.submit a {
	color: blue;
}
.previews-section {
	display: flex;
	align-items: center;
	height: 70%;
	min-height: 80vh;
	overflow: scroll;
	padding: 50px;
	padding-top: 0;
	margin: auto;
	gap: 100px;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	scroll-behavior: smooth;
}
.previews-section::-webkit-scrollbar {
	display: none;
}
.previews-grid {
	display: flex;
	flex-direction: column-reverse;
	gap: 2rem;
	align-items: center;
	font-size: 2rem;
	text-align: center;
	transition: transform 0.5s ease;
}
.previews-grid:hover {
	transform: scale(1.05);
}
.previews-grid a {
	color: blue;
	text-decoration: underline;
}
.previews-logo {
	border-radius: 10px;
	max-height: 50vh;
	max-width: 40vw;
	box-shadow: 20px 100px 50px var(--projectsBoxShadow);
}

.project .projects-angles {
	position: absolute;
	bottom: 30px;
	font-size: 50px;
	text-align: center;
	cursor: pointer;
}
.project .projects-angles-left {
	left: 47%;
	animation: projects-angles-arrow-left 2s infinite ease;
}
.project .projects-angles-right {
	left: 52%;
	animation: projects-angles-arrow-right 2s infinite ease;
}
@keyframes projects-angles-arrow-left {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-20px);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes projects-angles-arrow-right {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(20px);
	}
	100% {
		transform: translateX(0);
	}
}

.project .projects-angles:hover {
	animation: none !important;
}
.error img {
	width: 15vw;
	height: 15vw;
	max-width: 400px;
	max-height: 400px;
	border-radius: 50%;
	margin: 0% auto 3%;
}
.error h1 {
	font-size: 8vw;
	text-transform: uppercase;
}
.error a {
	text-decoration: underline;
	color: blue;
}
.error a:hover {
	display: inline-block;
	transform: scale(1.1);
	color: black;
}
/* resume style */

@page {
	size: A4;
	margin: 0;
}
.resume {
	display: flex;
	margin: auto;
	max-width: 210mm;
	min-height: 297mm;
	box-shadow: 0 10px 8px rgb(0 0 0 / 0.04), 0 4px 3px rgb(0 0 0 / 0.1);
}
.resume aside {
	background-color: rgb(248, 248, 248);
	flex: 1.5;
}
.resume aside .profile {
	background-color: rgb(158, 70, 54);
	color: #fff;
	padding: 20px;
}
.resume aside .profile h1 {
	font-size: 35px;
}
.resume aside .profile p {
	font-size: 1.35rem;
	line-height: 30px;
	font-style: italic;
	margin-bottom: 1.25rem;
	font-weight: 600;
}
.resume aside .about .school {
	color: rgb(158, 70, 54);
	font-weight: 600;
}
.resume aside .profile div {
	font-weight: 600;
}
.resume aside .profile div a {
	text-decoration: none;
	color: #fff;
}
.resume aside .fas,
.resume aside .fab {
	margin-right: 10px;
}
.resume aside .image {
	display: flex;
}
.resume aside .mine {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-left: 40px;
	object-fit: cover;
	object-position: 0px 0px;
}
.resume aside img {
	width: 30px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.resume aside .about {
	padding-left: 20px;
	color: #000;
}
.resume aside .about h1 {
	font-family: 'Times New Roman', Times, serif;
	margin-top: 30px;
}
.resume aside .about h2:not(:first-of-type) {
	margin: 15px 0;
}
.resume aside .about h2 {
	color: rgb(158, 70, 54);
	font-weight: 600;
	font-size: large;
}
.resume aside .about .fas {
	color: #cccccc;
}
.resume main {
	padding-left: 30px;
	flex: 2;
}
.resume main section {
	margin-top: 3%;
}
.resume main h1 {
	color: rgb(158, 70, 54);
	margin-bottom: 1px;
}
.resume main p {
	/* line-height: 30px; */
	font-size: 16px;
}
.resume main ul {
	margin-left: 40px;
}
.resume main ul li {
	font-size: 16px;
	list-style: none;
}
.resume main ul:not(.links) li::before,
.resume main ul li a::before {
	content: '\2023';
	color: rgb(158, 70, 54);
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}
.resume a {
	display: block;
	text-decoration: none;
	color: blue;
}
.resume .resume-certi {
	margin-top: 8px;
	display: block;
}
@media (max-width: 1200px) {
	.app {
		width: 100vw;
	}
}

@media (max-width: 1000px) {
	.screen {
		font-size: 10vw;
		width: 90%;
	}
	.colorScheme {
		display: none;
	}
	.bg-style-container,
	.bg-style-xsmall,
	.bg-style-small,
	.bg-style-small,
	.bg-style-container img {
		animation: none;
	}
	.navscrollmobile {
		background: rgba(55, 67, 169, 0.85);
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(18.2px);
		-webkit-backdrop-filter: blur(18.2px);
		border: 1px solid rgba(55, 67, 169, 0.83);
		padding: 1rem;
	}
	.navbackdropfilterunset {
		backdrop-filter: unset;
	}
	.navlinks {
		background-color: rgb(44, 57, 164);
		height: 100%;
		width: 70%;
		position: fixed;
		z-index: 999;
		right: -100%;
		top: 0;
		padding-top: 20%;
		transition: right 0.5s ease;
	}
	.navactive {
		right: 0;
	}
	nav ul li {
		display: none;
	}
	.alinks {
		display: block;
	}
	.xmark {
		color: #fff;
		display: none;
		background-color: transparent;
	}
	nav .navlinks li .active {
		color: #fff;
	}
	nav .navlinks li {
		text-align: right;
		font-size: 30px;
		margin: 50px 0 0 0;
		padding-right: 25px;
	}
	nav ul li:nth-child(1) {
		animation: links 1s ease;
	}
	nav ul li:nth-child(2) {
		animation: links 1.5s ease;
	}
	nav ul li:nth-child(3) {
		animation: links 2s ease;
	}
	nav ul li:nth-child(4) {
		animation: links 2.5s ease;
	}
	nav ul li:nth-child(5) {
		animation: links 3s ease;
	}
	nav ul li:nth-child(6) {
		animation: links 3s ease;
	}
	@keyframes links {
		from {
			transform: rotateY(90deg);
		}
		to {
			transform: rotateY(0deg);
		}
	}
	nav .navlinks li a {
		text-align: right;
		color: #fff;
		font-size: 2rem;
		font-family: 'Space Grotesk';
	}
	nav .navlinks li a:hover {
		color: #fff;
	}
	nav .navlinks li .active::before {
		display: none;
	}
	nav .navlinks .active::after {
		content: '';
		width: 200px;
		height: 50px;
		border-right: 8px solid #fff;
		position: absolute;
		right: 0;
		animation: active 2s ease;
		transform: translateY(-5px);
	}
	@keyframes active {
		from {
			transform: translateY(-100vh);
			right: 0;
		}
	}
	nav .bars,
	.xmark {
		visibility: visible;
	}
	nav .navlinks .navfooter {
		display: block;
	}
	nav .navlinks .navfooter div {
		display: flex;
		justify-content: space-evenly;
		margin: 100% 0 5% 0;
		flex-wrap: wrap;
	}
	nav .navlinks .navfooter a {
		color: #fff;
		font-size: 2rem;
	}
	nav .navlinks .navfooter p {
		font-size: 1.2rem;
		text-align: center;
		color: #fff;
	}

	.home-elements-container {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 100%;
		margin-top: 30px;
		bottom: 2%;
		position: absolute;
	}
	.hello {
		margin: 2% 0 0 5%;
	}
	.hello-sub {
		margin: 20px 0 0 5%;
	}
	.home-projects,
	.home-about,
	.home-contact {
		position: static;
	}
	.home-projects-white,
	.home-about img,
	.home-contact-white {
		width: 25vw;
		height: 25vw;
	}
	.skills > div {
		flex-direction: column;
		gap: 200px;
	}
	.skills-logo {
		width: 100%;
		grid-template-columns: repeat(1, 1fr);
		margin-top: 120px;
		gap: 20px;
	}
	.skills-logo p {
		width: 50vw;
		height: 50vw;
		max-width: 200px;
		max-height: 200px;
		animation: bounce-right 10s linear infinite;
	}
	.skills-logo p:nth-child(even) {
		margin-left: auto;
		animation: bounce-left 10s linear infinite;
	}
	@keyframes bounce-left {
		0% {
			transform: translate(0%);
		}
		25% {
			transform: translate(-75%, -150px);
		}
		50% {
			transform: translate(-150%, 0);
		}
		75% {
			transform: translate(-75%, -150px);
		}
		100% {
			transform: translate(0%);
		}
	}
	@keyframes bounce-right {
		0% {
			transform: translate(0%);
		}
		25% {
			transform: translate(75%, -150px);
		}
		50% {
			transform: translate(150%, 0);
		}
		75% {
			transform: translate(75%, -150px);
		}
		100% {
			transform: translate(0%);
		}
	}
	.sidenav,
	.social-links,
	.copyright {
		display: none;
	}
	.skills .work-exp {
		width: 100%;
	}
	.skills .work-exp > div {
		margin-left: 10%;
		gap: 15%;
	}
	.about-page .about-content {
		flex-direction: column;
		width: 90%;
		padding: 20px;
	}
	.about-page .about-content div {
		align-items: center;
	}
	.certificates-section {
		grid-template-columns: 1fr 1fr;
		margin-top: 10%;
	}
	.certificates-section > div > h1 {
		font-size: 22px;
	}
	.certificates-section .grid {
		padding: 15px;
		border-radius: 10px;
	}
	.contact {
		width: 90%;
	}
	.contact .button {
		flex-direction: column;
		margin: auto;
		gap: 2rem;
	}
	.contact form {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: 50px 50px 50px 100px 80px;
		gap: 20px;
	}
	.contact .contact-social-links {
		margin: 50px;
		display: initial;
	}
	.contact .contact-social-links a {
		margin: 30px 0;
		display: flex;
		gap: 30px;
	}
	.contact .contact-social-links img {
		width: 20px;
	}
	.contact .qrcode {
		display: block;
		position: absolute;
		bottom: 20px;
		right: 10%;
		width: fit-content;
		height: fit-content;
	}
	.contact .qrcode img {
		width: 33vw;
		height: fit-content;
	}
	.submit {
		width: 90%;
	}
	.previews-section {
		flex-direction: column;
		justify-content: center;
		padding: 0;
		width: 90%;
		gap: 50px;
		margin: 5% auto 20%;
	}
	.previews-grid {
		flex-direction: column;
		gap: 1rem;
		align-items: initial;
		font-size: 1.5rem;
		text-align: left;
	}
	.previews-logo {
		max-width: 100%;
		width: 100%;
		margin: auto;
		box-shadow: unset;
	}

	.project .projects-angles {
		display: none;
	}
	.bg-style-container img {
		width: 100%;
	}
	.first-page h1 {
		font-size: 8vw;
		width: 90%;
	}
	.first-page img,
	.error img {
		margin: 0% auto 10%;
		width: 40vw;
		height: 40vw;
	}
	.error a {
		padding-bottom: 30%;
	}
}
@media (max-width: 481px) {
	article {
		margin-top: 70px !important;
	}
	nav {
		padding: 15px;
	}
	nav h1 {
		font-size: 2rem;
	}
	nav .bars {
		width: 2rem;
		height: 2rem;
		font-size: 0.5remrem;
	}
	nav .navlinks li {
		margin-top: 20px;
	}
	nav .navlinks li a {
		font-size: 1rem;
	}
	nav .navlinks .navfooter a {
		font-size: 1.5rem;
	}
	nav .navlinks .navfooter p {
		font-size: 0.8rem;
	}
	nav .navlinks .active::after {
		height: 40px;
		border-right: 5px solid;
		transform: translateY(5px);
	}
	article h1 {
		font-size: 1.5rem;
	}
	.hello {
		width: 200px;
		height: 80px;
		font-size: 1rem;
		padding-right: 2rem;
	}
	.hello b {
		font-size: 25px;
	}
	.hello i {
		font-size: 2rem;
	}
	.certificates-section {
		grid-template-columns: 1fr;
	}
	.skills-logo p {
		width: 30vw;
		height: 30vw;
		max-width: 150px;
		max-height: 150px;
		font-size: 0.8rem;
		animation: bounce-right 15s linear infinite;
	}
	.skills-logo p:nth-child(even) {
		animation: bounce-left 15s linear infinite;
	}
	.about-page .about-content {
		margin: 20% auto;
		gap: 30px;
	}
	.about-page .about-content img {
		width: 100px;
	}
	.about-page .about-footer img {
		width: 80px;
		height: 80px;
		margin-bottom: 10%;
	}
}
